#blog {
  padding-top: 75px;
  padding-bottom: 50px;
  background-color: #f7f7f7;
   .section-title{
    margin-bottom: 40px;
    position: relative;
    max-width: 590px;
    margin: 0 auto;
    text-align: center;
   }
   .title-watermark{
    left: 0;
    right: 0;
    top: -60px;
    opacity: 0.04;
    color: #53536c;
    line-height: 1;
    font-size: 100px;
    font-weight: 900;
    margin-bottom: 0;
    text-align: center;
    font-family: sans-serif;
    position: absolute;
   }
   .color{
    font-size: 18px;
    font-weight: 700;
    color: #0000fe;
    padding: 0px 15px;
    position: relative;
    font-family: sans-serif;
   }
   h2{
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.125;
    padding: 15px 0px 20px;
   }
  .categories-item-box {
    margin: 0 auto;
    max-width: 370px;
    margin-bottom: 40px;
    transition: 0.3s all ease-in-out;

    .categories-box {
      position: relative;

      .categories-img {
        overflow: hidden;
        position: relative;
        &::after {
          top: 0;
          left: 0;
          width: 100%;
          content: "";
          height: 100%;
          position: absolute;
          background-color: rgba(0, 0, 0, 0.25);
        }

        img {
          transition: 0.4s all linear;
          max-width: 100%;
        }
      }

      .date {
        left: 25px;
        width: 80px;
        height: 80px;
        bottom: -30px;
        padding-top: 13px;
        border-radius: 3px;
        position: absolute;
        background-color: #000;
        text-align: center;

        a {
          color: #fff;
          font-size: 30px;
          font-weight: 700;
          line-height: 1.1;
          display: inline-block;
          font-family: "Fira Sans";
          text-decoration: none;

          span {
            display: block;
            font-size: 16px;
            font-weight: 400;
       
          }
        }
      }
    }

    .categories-body {
      padding: 45px 25px;
      box-shadow: 0px 12px 35px 0px rgba(12, 12, 12, 0.1);

      .meta-2 {
        text-transform: uppercase;

        a {
          font-size: 13px;
          font-weight: 700;
          margin-right: 25px;
          position: relative;
          text-decoration: none;
          color: #0000fe;
          font-family: "Fira Sans";

          &.line::before {
            top: -3px;
            width: 2px;
            content: "";
            right: -15px;
            height: 20px;
            position: absolute;
            background-color: #0000fe;
          }
        }
      }

      .title {
        h3 {
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 15px;
          position: relative;
          padding: 10px 0px 15px;
          border-bottom: 2px solid #eaeaea;
          transition: 0.3s all ease-in-out;

          &::before {
            left: 0;
            bottom: -1px;
            height: 3px;
            content: "";
            width: 37px;
            position: absolute;
            background-color: #fd7e14;
          }

          a {
            transition: 0.3s all ease-in-out;
            text-decoration: none;
            color: #000;
            &:hover {
              color: #fd7e14;
            }
          }
        }

        p {
          padding-bottom: 14px;
          color: #555555;
        }

        .read-more {
          color: #000;
          display: inline-block;
          font-size: 14px;
          font-weight: 700;
          transition: 0.3s all ease-in-out;
          position: relative;
          text-transform: uppercase;
          text-decoration: none;

          &:hover {
            color: #0000fe;
          }

          &::after {
            left: 0;
            bottom: 0;
            content: "";
            width: 0;
            height: 1px;
            position: absolute;
            transition: 0.3s all ease-in-out;
            background-color: #0000fe;
          }

          &:hover::after {
            width: 100%;
          }
        }
      }
    }

    &:hover {
      box-shadow: 0px 43px 35px 0px rgba(12, 12, 12, 0.1);
    }

    &:hover .categories-box .categories-img img {
      transform: scale(1.2) rotate(5deg);
    }
  }
}
