.category-section {
  padding: 95px 0px 100px;
  position: relative;
  text-align: center;
  .container {
    .section-title {
      p {
        opacity: 0.04;
        color: #53536c;
        line-height: 1;
        font-size: 100px;
        font-weight: 900;
        margin-bottom: 0;
        text-align: center;
      }
      span {
        color: #0000fe;
        font-size: 18px;
        font-weight: 700;
        position: relative;
        &::before {
          width: 8px;
          bottom: 3px;
          height: 2px;
          content: "";
          position: absolute;
          background-color: blue;
          left: -10px;
        }
        &::after {
          width: 8px;
          bottom: 3px;
          height: 2px;
          content: "";
          position: absolute;
          background-color: blue;
          right: -13px;
        }
      }
      h2 {
        color: #000;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.125;
        padding: 15px 0px 20px;
      }
    }
  }
}