#google-map{
    margin-top: 100px;
}

.contact {
  padding: 50px 0px;
  background-color: #f2f2f4;

  .all-section-title {
    span {
      color: #ff5520;
    }
  }

  .contact-content {
    padding: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;

    .contact-icon {
      margin-bottom: 28px;

      img {
        max-width: 100%;
      }
    }

    .contact-text {
      h3 {
        color: #000;
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 10px;
        font-family: #ff5520;
      }

      span {
        display: block;
        font-size: 18px;
      }
    }
  }
  .contact-form {
    margin-top: 70px;
    margin-bottom: 30px;
    &.blog-details {
      margin-top: 0 !important;
    }
    .contact-form-area {
      h3 {
        color: #000;
        font-size: 24px;
        font-weight: 700;
        font-family: #ff5520;
        text-align: left;
        padding-bottom: 0 !important;
      }
    }
    input {
      &.blog-details {
        width: 250px;
      }
    }
  }
}
