#footer {
    background: url(/assets/img/background.jpg);
  }
  
  .content-wrap {
    padding-top: 80px;
  
    h3 {
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      position: relative;
      margin-bottom: 25px;
      font-family: sans-serif;
  
      &::before {
        left: 0;
        height: 3px;
        width: 30px;
        content: "";
        bottom: -12px;
        position: absolute;
        background-color: #ff5520;
      }
    }
  
    p {
      color: #9d9d9d;
      padding-bottom: 20px;
    }
  
    .footer-logo {
      padding-bottom: 18px;
  
      a {
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  
    .footer-btn {
      position: relative;
      color: #fff;
      height: 35px;
      width: 100px;
      font-size: 14px;
      font-weight: 700;
      line-height: 35px;
      overflow: hidden;
      display: inline-block;
      transition: 0.3s all linear;
      border-radius: 30px;
      background-color: #ff5520;
      text-transform: uppercase;
      text-align: center;
      z-index: 1;
      font-family: #ff5520;
      text-decoration: none;
      &:hover {
        color: #000;
      }
  
      &::after {
        top: 0;
        width: 0;
        left: -40%;
        content: "";
        height: 100%;
        position: absolute;
        transform: skew(50deg);
        transition-duration: 0.6s;
        transform-origin: top left;
        background-color: #fff;
      }
  
      &:hover::after {
        height: 100%;
        width: 150%;
        z-index: -1;
      }
    }
  
    &.newsletter {
      form {
        margin-top: 30px;
        position: relative;
  
        input {
          height: 45px;
          width: 100%;
          padding-left: 20px;
          border: 2px solid #313131;
          background-color: transparent;
          color: #9d9d9d;
          outline: none;
        }
  
        button {
          top: 0;
          right: 0;
          width: 60px;
          padding: 0;
          color: #fff;
          height: 45px;
          border: none;
          position: absolute;
          background-color:#ff5520;
          transition: all 0.3s ease-in-out;
  
          i {
            transition: all 0.3s ease-in-out;
          }
  
          &:hover i {
            color: #000;
          }
        }
      }
  
      .footer-social {
        margin-top: 22px;
  
        ul {
          display: flex;
          padding-left: 0;
  
          li {
            margin-right: 15px;
            list-style: none;
  
            a {
              transition: all 0.4s linear;
              color:  #494949;
              
            }
  
            &:hover a {
              color: #ff5520;
            }
          }
        }
      }
    }
  
    &.official-info {
      ul {
        padding-top: 15px;
        list-style: none;
        padding-left: 0;
  
        li {
          display: flex;
          margin-bottom: 5px;
  
          i {
            margin-right: 10px;
            margin-top: 5px;
            color: #ff5520;
          }
  
          a {
            color: #9d9d9d;
            display: block;
            font-size: 14px;
            overflow: hidden;
            max-width: 170px;
            font-family: "Roboto";
            text-decoration: none;
          }
        }
      }
  
      .open-hour {
        margin-top: 10px;
  
        span {
          color: #fff;
          font-size: 14px;
          display: block;
          margin-bottom: 10px;
          font-weight: 700;
          text-decoration: underline;
          font-family: "Roboto";
        }
  
        p {
          font-size: 14px;
          color: #9d9d9d;
        font-family: sans-serif;
        }
      }
    }
  
    &.instagram {
      .insta-feed {
        padding-top: 10px;
  
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          list-style: none;
          padding-left: 0;
  
          li {
            width: 75px;
            height: 75px;
            margin-right: 10px;
            margin-bottom: 7px;
            position: relative;
            background-color: #000;
            transition: 0.3s all ease-in-out;
            cursor: pointer;
  
            &::before {
              top: 0;
              opacity: 0;
              content: "";
              width: 100%;
              height: 100%;
              position: absolute;
              background-color: #000;
              transition: 0.3s all ease-in-out;
              z-index: 1;
            }
  
            &:hover::before {
              opacity: 0.7;
            }
  
            a {
              outline: none;
              box-shadow: none;
              text-decoration: none;
              color: inherit;
              position: relative;
              img {
                max-width: 100%;
              }
              i {
                left: 0;
                top: 50%;
                right: 0;
                opacity: 0;
                color: #fff;
                position: absolute;
                text-align: center;
                transform: translateY(-50%);
                transition: 0.3s all ease-in-out;
                z-index: 2;
              }
            }
            &:hover i {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .copyright {
    padding: 25px 0px;
    text-align: center;
    border-top: 1px solid #9d9d9d;
    span {
      font-size: 15px;
      color: #fff;
      text-align: center;
    }
  }
  $breakpoint-tablet: 768px;
  @media (max-width: $breakpoint-tablet) {
    #footer {
      .content-wrap {
        text-align: center;
        h3 {
          &::before {
            width: 0;
            height: 0;
          }
        }
        .footer-social {
          ul {
            justify-content: center;
          }
        }
        &.official-info {
          ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            li {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }