body {
  height: auto;
}
.container {
  max-width: 1200px;
}
header {
  .navbar {
    position: fixed;
    top: 0px;
    background-color: #fff;
    z-index: 10;
    width: 100%;
  }

  .header-logo {
    margin-right: 115px;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .navbar-nav {
    & > li {
      margin-right: 75px;
      font-family: "Roboto";
      & > a::after {
        top: 28px;
        left: 36px;
        width: 0px;
        content: "";
        height: 5px;
        position: absolute;
        border-radius: 26%;
        background-color: #0000fe;
        transition: 0.3s all ease-in-out;
      }
      & > a::before {
        top: 30px;
        left: 9px;
        width: 0px;
        content: "";
        height: 5px;
        position: absolute;
        border-radius: 26%;
        background-color: #0000fe;
        transition: 0.3s all ease-in-out;
      }
      &:hover {
        a::before {
          width: 21px;
        }
        a::after {
          width: 5px;
        }
      }
    }

    a {
      font-weight: 700;
      padding-bottom: 30px;
      position: relative;
      color: #000000 !important;
      padding: 0px;
      text-align: center;
    }
    .dropdown {
      &::after {
        top: -2px;
        color: #ff5520;
        right: -14px;
        content: "+";
        font-size: 18px;
        font-weight: 700;
        position: absolute;
        transition: 0.3s all ease-in-out;
      }
      .dropdown-menu {
        display: block !important;
        visibility: hidden;
        transition: 0.7s;
        margin-top: -15px;
        opacity: 0;
      }
      &:hover {
        .dropdown-menu {
          visibility: visible;
          margin-top: 20px;
          opacity: 1;
        }
      }
    }
  }

  .shop-icon {
    position: relative;

    &::after {
      top: 3px;
      right: -3px;
      width: 2px;
      content: "";
      height: 18px;
      position: absolute;
      background-color: #d9d9d9;
    }

    button {
      border: none;
      outline: none;
      background-color: transparent;
      color: #5a5a5a;
      margin: 0px 15px;
    }
  }

  .man-icon {
    button {
      border: none;
      outline: none;
      background-color: transparent;
      color: #5a5a5a;
      margin: 15px;
    }
  }
}
